:root {
  font-size: 200%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
}

.screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  display: none;
  padding: 0.5rem 1rem;
  line-height: 2rem;
}

.screen:first-of-type {
  display: block;
}

.ctrls {
  position: fixed;
  bottom: 0.2rem;
  left: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 0.5rem;
  line-height: 1.5rem;
  height: 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  font-size: 0.75rem;
  cursor: pointer;
  opacity: 0.1;
  transition: opacity 0.75s;
  z-index: 100;
}

.ctrls:hover {
  opacity: 1;
}

button:focus {
  outline: 0;
}

#btnBck {
  transform: translateX(-100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
